.body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 150px;
    row-gap: 70px;
    margin: 0px 25px;
    padding: 0px 25px;
}

.title {
    padding: 20px 0 10px;
    margin: 0;
}

.graph {
    width: 700px;
    height: 380px;
}

/* Placeholder, Will remove once we have more graphs */
.img {
    width: 700px;
    height: 380px;
}