.login-wrapper {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #e0e0e0;
    padding: 20px;
    min-height: 100vh;
}

h1 {
    color: #ffffff;
}

input[type="email"], input[type="password"] {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 2px solid #333333;
    border-radius: 5px; 
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
}

label {
    display: block; 
    margin-bottom: 5px;
}

button {
    background-color: #5ba755;
    color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px; 
    margin: 5px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.container {
    background-color: #1e1e1e;
    border-radius: 5px;
    width: 35%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.element { 
    margin-bottom: 20px;
}

.error_message {
    color: #ff0000;
    width: 50%;
    padding-top: 5px;
    display: block;
}