

.navBarElements {
    background-color: rgba(217, 220, 220);
    display: grid;
  	grid-template-columns: auto auto auto;
  	padding: 0px 20px;
}



.colorHeader {
	background-color: rgb(39, 60, 121);
	padding: 10px;
		width:100%;
}

.title {
	position: relative;
    display: flex;
    flex-direction: row;
	justify-content: left;
    gap: 1em;
    padding: 0;
    margin: 0;
	color: rgb(39, 60, 121);
	align-items: center;
}



.user-info-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
	align-self: right;
	justify-content: right;
	
	
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}



li {
    display: inline-flex;
    align-items: baseline;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px 16px;
    color: rgb(39, 60, 121);

}

li a:hover {
    height: 100%;
    background-color: rgb(116, 121, 163);
}



.profile-setting {
    visibility: hidden;
    text-align: center;
    position: relative;
}

.user-info-right:hover .profile-setting {
    visibility: visible;
	color: black;
}

.logo {
	padding: 20px 16px;
	width: 15em;
    height: auto;
    object-fit: fill;

}

.pfp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.notifications_container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
