.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 11fr;
    gap: 1em;
    min-height: 100vh;
}

/*Body Styles*/

.body {
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 1em;
}

app-nav-bar {
    grid-column:  1/1;
    background-color: lightgrey;
}

.page-content {
    grid-column:  2/12;
    /*background-color: lightblue; */
}

/* END of Body Styles*/